


.box {
    max-width: 1000px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img {
    flex-basis: 48%;
}
.text {
    flex-basis: 48%;
}
.text h2 {
    font-size: 25px;
    margin-bottom: 35px;
}
.text p {
    font-size: 18px;
    line-height: 1.5;
}

// PCとスマホで画像を切り替える
.pc {
    display: block;
}
.sp {
    display: none;
}

// レスポンシブ
@media (max-width: 600px) {
    .box {
        flex-direction: column;
        padding: 0 15px;
    }
    .img {
        margin-bottom: 25px;
    }
    // スマホの時に""sp"がついたclassの画像が表示される
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }
}